@{
    ViewBag.Title = "Cadastros";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<div class="btn-group btn-group-justified btn-group-lg btn-group-box">
    <a class="btn btn-default btn-lg btn-box" href="~/Cadastros/Fornecedores"><i class="fa fa-truck fa-2x"></i><br />Fornecedores</a>
    <a class="btn btn-default btn-lg btn-box" href="~/Cadastros/Funcionarios"><i class="fa fa-users fa-2x"></i><br />Funcionários</a>
    <a class="btn btn-default btn-lg btn-box" href="~/Cadastros/Terceiros"><i class="fa fa-user-circle-o fa-2x"></i><br />Terceiros</a>
    <a class="btn btn-default btn-lg btn-box" href="~/Cadastros/TiposDespesas"><i class="fa fa-ticket fa-2x"></i><br />Tipos de Despesas</a>
</div>

