@model List<Financeiro.Models.Entidades.Destinatario>
@{
    ViewBag.Title = "Lista de terceiros";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<fieldset>
    <legend>Lista de Terceiros</legend>
    <div class="table-responsive">
        @if ((int)Session["nivel"] != (int)Financeiro.Models.Enums.ENivel.Consulta)
        {
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td colspan="5" align="right">
                            <a href="~/Cadastros/NovoTerceiro" target="principal" class="btn btn-primary btn-sm">NOVO TERCEIRO</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        <table class="table table-striped">
            <thead class="table-bordered">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>NOME</strong></td>
                    <td><strong>DESCRIÇÃO</strong></td>
                    <td><strong>DATA DE CADASTRO</strong></td>
                    <td align="right"><strong>AÇÕES</strong></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
            {
                    <tr>
                        <th scope="row">@t.Id</th>
                        <td>@t.Nome</td>
                        <td>@t.Descricao</td>
                        <td>@t.DataCadastro</td>

                        <td align="right">
                            <div class="btn-group">
                                <a href="~/Cadastros/VerFornecedor/@t.Id" target="principal" class="btn btn-success btn-xs">Ver</a>
                                @if ((int)Session["nivel"] != (int)Financeiro.Models.Enums.ENivel.Consulta)
                                {
                                    <a href="~/Cadastros/AlterarFornecedor/@t.Id" target="principal" class="btn btn-default btn-xs">Alterar</a>
                                    <a href="~/Cadastros/ExcluirFornecedor/@t.Id" target="principal" class="btn btn-danger btn-xs">Excluir</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if ((int)Session["nivel"] != (int)Financeiro.Models.Enums.ENivel.Consulta)
        {
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td colspan="5" align="right">
                            <a href="~/Cadastros/NovoTerceiro" target="principal" class="btn btn-primary btn-sm">NOVO TERCEIRO</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</fieldset>