/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.submenu {
    left: 11%;
    width: 90%;
}

#principal, #modal {
    width: 100%;
}

.vborder {
    border: solid 1px black;
}

.background-white {
    background-color: white;
}

.background-whitesmoke {
    background-color: whitesmoke;
}

.no-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.centered {
    width: 400px;
    height: auto;
    left: 50%;
    margin: 120px 0 0 -200px;
    padding: 50px;
    top: 40%;
    position: relative;
}

@media screen and (max-width: 405px) {
    .centered {
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        padding: 30px;
        float: none;
        top: 0;
    }
}

.padding-10 {
    padding: 10px;
}

#tabmenu {
    padding-top: 15px;
}

#backmenu {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 16.66666666666667%;
    background-color: whitesmoke;
}

#body {
    padding-top: 50px;
}

.modal-backdrop.in {
    opacity: 0 !important;
}

.modal {
    overflow: hidden !important;
}